

/* mobail respons design  */

@media screen and (max-width: 576px) {
    nav{
        justify-content: space-between;
        padding: 20px;
    }
    nav ul,nav ul li,nav ul li a, .nav_button{
        display: none;
    }

    .hamburg_menu{
        display: block;
    }

     .podcast_details{
        margin-top: 50px;
    }

    .header_details, .btns{
        padding: 10px;
    }
    .btns{
        flex-wrap: wrap;
    }
    .podcast_details{
        gap: 15px;
    }
    .podcast_items, .footer_list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-content: center;
    }
    .host_details{
        flex-wrap: wrap;
       
        gap: 20px;
    }
    .choice_grid_card, .epsode_card{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        padding: 20px;
        
    } 
    
    .second_body{
        grid-column: span 1;
    }

    .host_text{
        text-align: center;
    }
    .socal_conatc{
        margin: 0 auto;
        justify-content: center;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .section_bg{
        padding: 50px 20px;
    }
    .choice_grid_card{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .first_body{
        grid-column: span 3;
        grid-row: span 1;
    }
    .asside_body{
        grid-column: span 1;
        grid-row: span 2;
    }
    .third_body{
        grid-column: span 2;
        grid-row: span 1;
    }
    .last_body{
        grid-column: span 3;
        grid-row: span 1;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .epsode_card{
        grid-template-columns: repeat(1, 1fr);
    }
    .project{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        gap: 20px;
    }

    .project_mid{
        direction: rtl;
    }
    .deuration_video{
        justify-content: left;
    }
}